# --------------------------------------------
# APPLICATION
# --------------------------------------------
PORT=8080
SPRING_PROFILES_ACTIVE=dev

# --------------------------------------------
# DATABASE (PostgreSQL)
# --------------------------------------------
POSTGRES_DB=meliscraper
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

